<div class="row">
  <div class="col-12 text-center mt-3 mb-3">
    <h1>Boggle</h1>
    <div id="timer"></div>
  </div>
  <div class="col-6 col-md-3 order-last order-md-3">
    <%= render 'partials/answer_table', type: "wrong" %>
  </div>
  <div class="col-12 col-md-6 order-2 order-md-4">
    <%= render 'partials/board', board: @board %>
  </div>
  <div class="col-6 col-md-3 order-last order-md-5">
    <%= render 'partials/answer_table', type: "correct" %>
  </div>
  <div class="col-12 text-center order-5 order-md-12 mb-4">
    <h3 id="word-selected">Welcome to Boggle</h3>
    <%= link_to "Start Game", start_path, remote: true, id: "start-game", class: 'btn btn-primary'%>
    <div class="row">
      <div class="col-6">
        <%= link_to "Reset Game",  home_path, remote: true, id: "reset-game",
            class: 'btn btn-danger float-sm-right', data: {confirm: 'Are you sure you would like to reset the game?'}
        %>
      </div>
      <div class="col-6">
        <button id="add-word" type="button" class="btn btn-success float-sm-left">
          Add Word
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('#add-word').on('click', function() {
      $.ajax({
        method: "post",
        url: "/add",
        dataType: "json",
        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
        success: function(data){
          $('#correct-answer-table-body').append( ` <tr> <td> ${data.selected.join("")} </td> </tr>`);
          $("#word-selected").text("")
          $('#boggle-board td').removeClass('active')
        },
        error: function(data){
          if (data.responseJSON.action === "short") {
            $("#word-selected").text(`"${data.responseJSON.selected.join("")}" is too short`)
            $('#boggle-board td').removeClass('active')
          } else {
            $('#wrong-answer-table-body').append( ` <tr> <td> ${data.responseJSON.selected.join("")} </td> </tr>`)
            $("#wrong-answer-table").animate({scrollTop: $("#wrong-answer-table").prop("scrollHeight")});
            $("#word-selected").text("")
            $('#boggle-board td').removeClass('active')
          }
        },
      });
    })

    $('#start-game').on('click', function() {
      $("#timer").timer('reset');
      $('#add-word').show()
      $('#reset-game').show();
      $('#start-game').hide()
      $('#wrong-answer-table-body').empty()
      $('#correct-answer-table-body').empty()
    })

    $("#timer").timer({
      countdown: true,
      duration: '3m',
      callback: function() {
        alert("Time's up!");
        $('#start-game').show()
        $("#word-selected").text("Welcome to Boggle");
        $('#add-word').hide()
        $('#reset-game').hide()
      }
    });
    $("#timer").timer('pause')
  });
</script>
